<section>
    @if(chapter.questions && chapter.questions.length > 0) {
    @for(question of chapter.questions; track question.number ) {
    <a mat-button href="https://www.google.com/">{{question.number}}</a>
    }
    }
</section>


<section>
    @if(chapter.questions && chapter.questions.length > 0) {
    <mat-card appearance="outlined" class="content-container">
        <mat-card-content>
            <h3>{{currentQuestionContent.question}}</h3>
            <p>{{currentQuestionContent.code}}</p>


            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="myChoice">
                @for (choice of currentQuestionContent.choices; track choice) {
                <mat-radio-button class="example-radio-button" [value]="choice">{{choice}}</mat-radio-button>
                }
            </mat-radio-group>
            <div>Your favorite season is: {{myChoice}}</div>

        </mat-card-content>
    </mat-card>
    }
</section>