<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Chapters</mat-toolbar>
    <mat-nav-list>
      @if(chapters && chapters.length > 0) {
      @for (chapterMeta of chapters; track chapterMeta.chapterNumber) {
      <a class="nav-item" [href]="'/chapters/chapter/'+chapterMeta.chapterNumber">{{chapterMeta.title}}</a>
      <!-- REVIEW ROUTE HERE FOR GH-->
      }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>