.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
}

.sidenav {
  background: inherit;
}

.nav-item {
  color: white;
  display: block;
  margin: 15px;
  text-decoration-line: none;

  &:hover {
    transform: scale(1.04);
  }
}