.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mdc-list-item__primary-text {
  white-space: normal !important;
}

.mdc-list-item__content {
  white-space: normal !important;
}