.content-container {
    margin: 1em;
}


.vertical {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.progress-button {
    margin: 0 0.2em;
    border-radius: 12%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.question-progress-button-ok {
    background-color: green;
}

.question-progress-button-error {
    background-color: red;
}

.question-progress-button-current {
    background-color: white;
}

.card-container-ok {
    border-color: green;
    border-width: 3px;
}

.card-container-error {
    border-color: red;
    border-width: 3px;
}

.content-question-container {
    display: flex;
}

.explanation {
    flex: 1 1 80%
}

@media (max-width: 600px) {
    .content-question-container {
        display: block;
    }

}

h6 {
    font-size: 1.1rem;
}