<app-header [chapter]="chapter"></app-header>

<section>
    @if(chapter.questions && chapter.questions.length > 0) {
    @for(question of chapter.questions; track question.number ) {
    <a class="progress-button" mat-button [class]="evaluateColor($index)"
        (click)="goToQuestion(question.number)">{{question.number}}</a>

    }
    <div style="margin: 1em 1em; display: flex; align-items: center; justify-content: space-evenly">
        <mat-chip>{{score}} / {{chapter.questions.length}}</mat-chip>
        <button mat-flat-button (click)="resetChapter()">Reset</button>
    </div>

    }
</section>

@if (currentAnswerContent) {
<section>
    <mat-card appearance="outlined" class="content-container" [class]="evaluateColor(chapter.currentQuestion, 'card')">
        <mat-card-content>
            <h6 [innerHTML]="currentQuestionContent.question | lineBreak"></h6>
            <div class="content-question-container">
                <div style="flex: 1 1 100%">
                    @if(currentQuestionContent.code) {
                    <code [innerHTML]="currentQuestionContent.code | lineBreak"></code>
                    }
                    @if(currentQuestionContent.image) {
                    <img [src]="'/assets/images/chapter_' + chapter.chapterNumber + '_' + currentQuestionContent.number + '.png'"
                        width="400" height="400" />
                    }
                    @if(currentAnswerContent.answers.length > 1) {
                    <section class="vertical">
                        @for (choice of currentQuestionContent.choices; track choice) {
                        <mat-checkbox (change)="onChangedCheckBoxItem($event.checked, $index)">{{choice}}</mat-checkbox>
                        }
                    </section>
                    } @else {
                    <mat-radio-group class="vertical" [(ngModel)]="currentRadioOption">
                        @for (choice of currentQuestionContent.choices; track choice) {
                        <mat-radio-button [value]="$index">{{choice}}</mat-radio-button>
                        }
                    </mat-radio-group>
                    }
                </div>
                <div class="explanation">
                    @if(currentAnswerContent && currentAnswerContent.explanation && showExplanation) {
                    <mat-card appearance="outlined" class="content-container"
                        [class]="evaluateColor(chapter.currentQuestion, 'card')">
                        <mat-card-content>
                            <div style="display: flex; align-items: center;gap: 20px">
                                <h4>{{currentAnswerContent.answers}}</h4>
                                {{currentAnswerContent.explanation}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>



            </div>


        </mat-card-content>
    </mat-card>
</section>
}





<section>
    <div class="flex-container">
        <div class="button-container">
            <button mat-fab [disabled]="chapter.currentQuestion == 0" (click)="prevQuestion()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-fab (click)="verifyAnswer()">
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-fab (click)="nextQuestion()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </div>
</section>